
# Kafka
KAFKA_BROKERS=localhost:9092

# Users
USERS_DB_PORT=5433
USERS_DB_NAME=users
USERS_DB_USER=postgres
USERS_DB_PASSWORD=postgres
USERS_DB_URL="postgresql://${USERS_DB_USER}:${USERS_DB_PASSWORD}@localhost:${USERS_DB_PORT}/${USERS_DB_NAME}?schema=public"